@import '../../utils/mixins';
@import '../../utils/colors-alt';

.features {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .feature_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100vw;
    padding-bottom: 3rem;

    img {
      height: 50vh !important;
      object-fit: contain;
    }

    @include from($tablet) {
      display: grid;
      grid-template: auto 1fr / 1fr 1fr;
      margin-top: 6rem;
    }

    @include until($tablet) {
      margin-top: 0rem;
    }
  
    img {
      width: 100%;

      @include until($tablet) {
        margin-bottom: 2rem;
      }
    }
  
    @include from($tablet) {
      h2 {
        align-self: flex-end;
      }
  
      p {
        align-self: flex-start;
      }
  
      div {
        padding: 0px 1rem;
      }
    }
  
    @include until($tablet) {
      h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-bottom: 1rem;
      }
    }
  
    h4 {
      color: $accent !important;
    }

    .button {
      margin-top: 2rem;
    }
  }
}