@import '../../utils/mixins';
@import '../../utils/colors-alt';

.hero {
  .container {

  }

  .content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(4rem + 50px);
  }

  img {
    mix-blend-mode: multiply;
    margin-top: -4rem;
    width: 70%;

    @include until($tablet) {
      width: 100%;
    }

    mask: linear-gradient(black 40%, transparent);
  }

  h5 {
    text-align: center;
    color: $accent !important;

    @include from($tablet) {
      max-width: 60%;
    }
  }

  h1 {
    margin-top: 6rem;
    line-height: 90%;
  }

  p {
    margin-top: 2rem;
    text-align: center;

    @include from($tablet) {
      max-width: 60%;
    }

    span {
      text-decoration: underline;
      color: $accent;
    }
  }

  .download_actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    div {
      margin: 0px 1rem;
    }
  }
}