@import '../../utils/colors-alt';

.hero {
  .container {
    border-bottom: 1px solid $accent;
    padding-bottom: 3rem;
  }

  .date {
    $color: transparentize($accent, 0.3);
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
    padding: 1rem;
    margin-bottom: 4rem;
  }

  .author {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: $accent;
    text-transform: uppercase;
    font-size: 100% !important;
  }
}