.copyright {
  background: #edfaf6;
  //text-transform: uppercase;
  text-align: left;

  h6 {
    text-align: center;
    color: $accent;
  }

  a {
    color: $accent;
    font-size: 0.8rem;
    text-align: right;
    text-decoration: none;
  }
}