@import '../../utils/colors-alt';
@import '../../utils/mixins';

.memberships {
  .container {
    border-top: 1px solid $accent;
    padding-top: 2rem;
  }

  h1 {
    padding-bottom: 3rem;
    @include until($tablet) {
      hyphens: auto;
      word-break: normal;
    }
  }

  .memberships_members {
    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      img {
        max-height: 70px;
      }
    }
  }
}