@import '../../utils/colors-alt';
@import '../../utils/mixins';

.partners {
  .container {
    border-top: 1px solid $accent;
    padding-top: 2rem;
  }

  h1 {
    padding-bottom: 3rem;
  }

  .partners_members {
    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        max-height: 90px;
        opacity: 0.7;
      }

      &:nth-of-type(1) {
        @include from($tablet) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}