$cAccent: $accent;
$cBlack: $accent;
$cGray: $accent;
$cLightGray: $accent;

.accordion-list{
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0.4em;
  overflow: hidden;
  
  &__item{
    border-top: 1px solid $cLightGray;
    &:first-of-type{
      border-top: none;
    }
  }
}

.accordion-item{
  $self: &;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0px;

  &--opened{    
    .accordion-item__icon{
      transform: rotate(135deg);
      color: $accent;
    }
        
    .accordion-item__inner{
      max-height: 100em;
      transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      transition-duration: 0.5s;
      transition-property: max-height;
    }
    
    .accordion-item__content{
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.2s;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      transition-property: opacity, transform;
    }
  }

  &__line{
    display: block;
    padding: 0.8em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
  }
  
  &__title{
    font-size: 1.6em !important;
    margin: 0;
    font-weight: 500;
    color: $cBlack;
    text-transform: capitalize;
    text-align: left;
  }
  
  &__icon{
    width: 1.2em;
    height: 1.2em;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/icons/cross.svg');
    opacity: 0.6;
  }
  
  &__inner{
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
  }
  
  &__content{
    opacity: 0;
    transform: translateY(-1rem);
    transition-timing-function: linear, ease;
    transition-duration: 0.1s;
    transition-property: opacity, transform;
    transition-delay: 0.5s;
    padding: 0 1.2em 1.2em;
  }
  
  &__paragraph{
    margin: 0;
    font-size: 1em;
    color: $cGray;
    font-weight: 300;
    line-height: 1.2 !important;
    text-align: left !important;

    > * {
      margin-bottom: 1rem;

      &:first-child {
        margin-bottom: 1rem !important;
      }

      &:last-child {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
      }
    }
  }
}