@import '../../utils/colors-alt';
@import '../../utils/mixins';

.heading {
  @include until($tablet) {
    background-color: $background-light;
  }
  .container {
    padding-bottom: 2rem;
  }

  .center {
    text-align: center;
  }

  .topline {
    border-top: 1px solid $accent;
    text-align: center;
    padding-top: 2.5rem;
  }

  h2 {
    -webkit-text-stroke-width: 0px !important;
  }
}