@import '../../utils/colors';

.covid {
  position: relative;
  text-align: center;

  .container {
    border-top: 1px solid $accent;
    padding-top: 4rem;
  }

  h2 {

  }

  h4 {
    
  }

  .features {
    align-items: flex-start;
    margin-top: 4rem;

    .feature_item {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 100px;
      }

      p {
        margin-top: 1rem;
        color: $accent;
        max-width: 70%;
      }
    }
  }

}