@import '../../utils/mixins';
@import '../../utils/colors';

.feature_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
  padding: 0px 4rem;
  padding-bottom: 3rem;

  @include until($tablet) {
    padding: 0px 1rem;
  }

  @include from($tablet) {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    
    &::before {
      display: block;
      content: '';
      position: absolute;
      border-top: 1px solid $accent;
      top: 4rem;
      left: 0;
      right: 0;
      z-index: 0;
    }
  }

  img {
    @include until($tablet) {
      position: relative;
      clip-path: inset(0px 0px 50% 0px);
      margin-bottom: -75%;
      width: 80%;
    }

    @include from($tablet) {
      max-height: 80vh;
      grid-column: 1 / 2;
      align-self: center;
      justify-self: center;
      margin-left: 6rem;
      margin-right: 3rem;
      z-index: 1;
    }
  }

  @include from($tablet) {
    h2 {
      align-self: flex-end;
    }

    p {
      align-self: flex-start;
    }

    div {
      padding: 0px 1rem;
    }
  }

  @include until($tablet) {
    h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      margin-bottom: 1rem;

      &::before {
        content: '';
        top: -1.5rem;
        display: block;
        position: absolute;
        width: 80vw;
        border-bottom: 1px solid transparentize($color: white, $amount: 0.5);

        @include until($tablet) {
          top: -1.2rem;
        }
      }
    }
  }

  h4 {
    //color: $accent !important;
    padding-top: 1.5rem;
  }
}