@import '../../utils/colors';
@import '../../utils/mixins';

.how {
  text-align: center;
  .container {
    border-top: 1px solid $accent;
    padding: 4rem 0px;
    display: flex;
    flex-direction: column;
  }

  .download_actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    div {
      margin: 0px 1rem;
    }
  }

  .subHeading {
    font-size: 200% !important;
    font-weight: bold;
  }

  @include until($tablet) {
    .title_container {
      text-align: center;
    }

    .accordion {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
      ul {
        border-radius: 0px;
        border-top: 1px solid $accent;
        border-bottom: 1px solid $accent;
      }
    }
  }

  @include from($tablet) {
    .title_container {
      display: grid;
      grid-template-columns: minmax(auto, 1fr) 1fr;
      column-gap: 4rem;
  
      h4 {
        text-align: right;
      }
    }

    img {
      max-width: 900px;
      place-self: center;
      margin-top: 6rem;
    }
  }
}