@import '../../utils/mixins';
@import '../../utils/colors';

.testimonials {
  text-align: center;
  .container {
    border-top: 1px solid $accent;
    padding-top: 4rem;
    .testimonial_item {
      margin: auto;
      margin-bottom: 6rem;
      align-items: center;

      .image {
        filter: grayscale(100%) contrast(1.5);
      }

      h2 {
        margin-bottom: -3rem;
        font-size: 800% !important;
      }

      h4 {
        color: $primary !important;
      }

      h6 {
        color: $accent !important;
        text-transform: uppercase;
        margin-top: 1rem;

        &::before {
          content: '-';
          margin-right: 0.5rem;
        }
      }

      figure {
        width: 50%;
      }

      @include until($tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        figure {
          margin: 0px !important;
          padding: 2rem;
        }

        .imageOverlay {
          position: absolute;
          top: 2rem;
          right: 2rem;
          background-color: $accent;
          opacity: 0.5;
          width: calc(100% - 4rem);
          height: calc(100% - 4rem);
          border-radius: 50%;
        }
      }

      @include from($tablet) {
        max-width: 80%;

        figure {
          margin-right: 4rem;
          padding: 4rem;
          padding-left: 6rem;
          padding-right: 2rem;
        }

        .imageOverlay {
          position: absolute;
          top: 4rem;
          right: 2rem;
          background-color: $accent;
          opacity: 0.5;
          width: calc(100% - 8rem);
          height: calc(100% - 8rem);
          border-radius: 50%;
        }
      }      
    }
  }
}