@import '../../utils/colors';
@import '../../utils/mixins';

.trials {
    .container {
        text-align: center;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid $accent;
        padding-top: 4rem;
        justify-content: center;
        .logos {
            /*display: flex;*/
            flex-direction: row;
            padding-top: 2rem;
            padding-bottom: 2rem;
            img {
                height: 50px;
                margin-right: 1rem;
            }
        }
    }

    .subHeading {
        font-size: 200% !important;
        font-weight: bold;
    }

    .topBorder {
        border-top: 1px solid $accent;
    }

    .paragraph {
        text-align: center;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 2rem;
    }

    .list {
        text-align: left;
        width: 96%;
        margin-left: 5%;
        margin-right: 2%;
        padding-top: 2rem;
    }

    .button {
        background-color: #21A863 !important;
        color: $white !important;
    }
}

