@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Noto+Sans+Cham:wght@100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import 'bulma/bulma.sass';

html {
  .light {
    @import 'utils/colors-alt';
    @import 'utils/utilities';
    @import 'utils/types';
    @import 'navigation/main';
    @import 'footer/main';
    @import 'copyright/main';
    @import 'extras/swiper';
    @import 'extras/form';
    @import 'extras/accordion';
    @import 'extras/sidebar';
    @import 'extras/wp';
    background: $background;
  }

  .dark {
    @import 'utils/colors';
    @import 'utils/utilities';
    @import 'utils/types';
    @import 'navigation/main';
    @import 'footer/main';
    @import 'copyright/main';
    @import 'extras/swiper';
    @import 'extras/form';
    @import 'extras/accordion';
    @import 'extras/sidebar';
    @import 'extras/wp';
    background: $background;

    .bordered {
      $c: transparentize($color: $accent, $amount: 0.97);
      text-shadow: -1px -1px 0 $c, 1px -1px 0 $c, -1px 1px 0 $c, 1px 1px 0 $c !important;
    }
  }

  .sticky {
    position: sticky;
    top: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.more-link {
  display:none;
}