@import '../../utils/colors';

.root {
  border-radius: 1000px !important;
  border: 1px solid $accent !important;
  background: transparent !important;
  color: $accent !important;

  min-height: 50px;
  padding: 1rem 2rem !important;
  
  transition: background 0.2s linear;

  blockquote {
    text-transform: uppercase;
    font-size: 0.8rem !important;
    font-weight: bold;
  }

  span {
    transition: color 0.2s linear;
    color: $accent;
    text-decoration: none;

    svg {
      height: 1.5rem !important;
      width: 1.5rem !important;
    }
  }

  blockquote {
    &.icon_left {
      margin-left: 0.3rem;
      text-align: right;
    }

    &.icon_right {
      margin-right: 0.3rem;
      text-align: left;
    }
  }

  &:hover {
    background: $accent !important;
    
    blockquote, span {
      color: $background !important;
    }
  }
  
  &.light {
    @import '../../utils/colors-alt';
    color: $accent !important;
    border: 1px solid $accent !important;
    
    blockquote, span {
      color: $accent;
      text-decoration: none;
    }

    &:hover {
      background: $accent !important;
      color: $background !important;
      
      blockquote, span {
        color: $background !important;
      }
    }
  }

  &.darkWhite {
    @import '../../utils/colors-alt';
    color: $background !important;
    border: 1px solid $background !important;
    
    blockquote, span {
      color: $background;
      text-decoration: none;
    }

    &:hover {
      background: $background !important;
      color: $primary !important;
      
      blockquote, span {
        color: $primary !important;
      }
    }
  }
}