@import '../../utils/colors';
.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;

    div {
        flex-grow: 0;
        background-color: $accent;
        display: inherit;
        align-items: inherit;
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
    }

    span {
        flex-grow: 1;
    }

    p {
        color: white !important;
        font-weight: bold;
    }

    p {
        margin: 0px 1rem;
    }
}